body{
    display: flex;
    flex-direction: row;
    background-size: cover;
    background-image: url("background.jpg");
    background-repeat: no-repeat;
    align-items: center;
    justify-content: center;
    text-align: center;
 
}

button{
    border:1px solid red;
    background-color:pink;
    font-weight: bold;
    color:red;
    border-radius: 3px;
    padding:5px 10px;
}

h1{
    text-align: center;
}